<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Save client</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-3">
		
		<h4>CLIENT</h4><hr>
		
		<!-- employee form -->
		<form action="#" th:action="@{/clients/save}" th:object="${client}" method="POST">
			<input type="hidden" th:field="*{id}" /> 
			
			<input type="hidden" th:field="*{caregivers}" /> 
						 
			<div class="container" >
				<div class="row">
					<input type="text" th:field="*{name}"
					class="form-control col-4" placeholder="Name" />
					
					<button type="submit" class="btn btn-info col-2 ml-2">Save</button>		
				</div>
			</div>		
		</form><hr>
		
		
		<!-- list of caregivers -->
		<p class="h4 mb-4">Caregivers</p>
		
		<!-- dropdown with Caregivers to add -->
		<div th:if="${listCaregiversToAdd != null}">
			<form action="#" th:action="@{/clients/saveNewCaregiver(clientId=${client.id})}" 
								th:object="${caregiverSelector}" method="POST">
				<div class="container" >
					<div class="row">
					    <select class="form-control col-4" th:field="*{selectedCaregiver}">
						    <option value="null">Add new</option>
						    <option th:each="tempCaregiver : ${listCaregiversToAdd}" th:value="${tempCaregiver.id}" th:text="${tempCaregiver.name}"></option>
					    </select>
						
						<button type="submit" class="btn btn-info col-2 ml-2">Add</button>
					</div>
				</div>				
				
				
			</form><br/>
		</div>
		
		
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tempCaregiver : ${client.caregivers}">
					<td th:text="${tempCaregiver.name}" />
					<td>
						<a th:href="@{/clients/deleteCaregiver(caregiverId=${tempCaregiver.id}, clientId=${client.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Sure you want to delete the caregiver?'))) return false">
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>	
		
		<a th:href="@{/mainMenu}">Back to Main Menu</a>
		
	</div>

</body>

</html>