<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Main Menu</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
	<div class="container mt-3">
		
		<div class="row">
			<div class="col-8">
				<h2 th:text="${#strings.toUpperCase(client.name)} + ' TASKS'"></h2>
			</div>
			<div class="col-4 text-right">
				<a class="btn btn-success btn-lg" th:href="@{/clients/tasksForm/showNewTask(clientId=${client.id})}" role="button">
					<i class="fas fa-plus"></i>
				</a>
			</div>
		</div><hr>
		
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Task</th>
					<th>Order</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tempTask : ${client.tasks}">
					<td class="col-8" th:text="${tempTask.desc}" />
					<td class="col-2" th:text="${tempTask.order}" />
					<td class="col-2">
						<a th:href="@{/clients/tasksForm/showEditTask(taskId=${tempTask.id})}" 
						   class="btn btn-info btn-sm">
							<i class="far fa-edit"></i>
						</a>
					</td>
					<td class="col-2">
						<a th:href="@{/clients/tasksForm/delete(clientId=${client.id},taskId=${tempTask.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Sure you want to delete the caregiver?'))) return false">
							<i class="fas fa-times"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<a th:href="@{/mainMenu}">Back to Main Menu</a>
		
	</div>

</body>

</html>