<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Main Menu</title>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-3">
		
		<h2 th:text="${#strings.toUpperCase(client.name)} + ' TASKS'"></h2>
		<hr><br/>
		
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Task</th>
					<th>Order</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tempTask : ${client.tasks}">
					<td class="col-8" th:text="${tempTask.desc}" />
					<td class="col-2" th:text="${tempTask.order}" />
					<td class="col-2">
						<a th:href="@{/mainMenu}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Sure you want to delete the caregiver?'))) return false">
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<a th:href="@{/mainMenu}">Back to Main Menu</a>
		
	</div>

</body>

</html>